.logs {
  border: solid 1px black;
  background-color: #ccc;
  height: 250px;
  overflow: scroll;
}

.manualOperationRow {
  display: flex;
  align-items: flex-end;
}

.arrowButtons {
  text-align: center;
  width: 100px;
}

.buttons {
  padding-left: 9px;
  margin-top: 5px;
}

.arrow {
  font-size: 14px;
}
.room {
  background-color: papayawhip;
  border: solid 1px darkgrey;
  width: 45px;
  height: 35px;
  text-align: center;
}
